[submodule "src/extern/fmt"]
	path = src/extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/extern/tor"]
	path = src/extern/tor
	url = https://git.torproject.org/tor.git
[submodule "src/extern/SortFilterProxyModel"]
	path = src/extern/SortFilterProxyModel
	url = https://github.com/oKcerG/SortFilterProxyModel
